[submodule "Plugins/ch.zhaw.levelset"]
	path = Plugins/ch.zhaw.levelset
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.levelset.git
[submodule "Plugins/ch.zhaw.graphcut"]
	path = Plugins/ch.zhaw.graphcut
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.graphcut.git
[submodule "Plugins/ch.zhaw.padding"]
	path = Plugins/ch.zhaw.padding
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.padding.git
[submodule "Plugins/ch.zhaw.resample"]
	path = Plugins/ch.zhaw.resample
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.resample.git
[submodule "Plugins/ch.zhaw.splitcomponents"]
	path = Plugins/ch.zhaw.splitcomponents
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.splitcomponents.git
[submodule "Plugins/ch.zhaw.voxel2mesh"]
	path = Plugins/ch.zhaw.voxel2mesh
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.voxel2mesh.git
[submodule "Plugins/ch.zhaw.materialmapping"]
	path = Plugins/ch.zhaw.materialmapping
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.materialmapping.git
[submodule "Plugins/ch.zhaw.volumemesh"]
	path = Plugins/ch.zhaw.volumemesh
	url = git@github.engineering.zhaw.ch:VisualComputingLab/MITK_ch.zhaw.volumemesh.git
